_site
_yardoc
.bundle
.config
.dat*
.directory
.DS_Store
.fuse_hidden*
.grunt
.gulp-scss-cache
.idea*
.jekyll-metadata
.netrwhist
.nfs*
.nvm-version
.nyc_output
.project
.repl_history
.rvmrc
.sass-cache
.svn
.Trash-*
.vscode
.yardoc
.yardoc
.yarn-integrity
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
*.bridgesupport
*.css.map
*.gem
*.iml
*.iws
*.log
*.log*
*.pid*
*.rbc
*.seed
*.swp
*~
atlassian-ide-plugin.xml
atom-shell
bower_components
build/*
com_crashlytics_export_strings.xml
coverage
coverage
coverage/
crashlytics*
deploy
doc
doc
docs/includes
docs/output
electron
fabric.properties
fonts
InstalledFiles
jspm_packages/
lib*
logs
logs
modules.xml
node_modules
out
out/
package-lock.json
pids
pkg
rdoc
Session.vim
spec/examples.txt
spec/fixtures/evil-files/
spec/reports
tags
tags
test/tmp
test/version_tmp
Thumbs.db
tmp
vendor/*
yarn-error.log*
yarn.lock